<footer class="navbar-fixed-bottom">
    <div class="bgColor headTitle paddAll5 textColor2 text-center">
        <ul class="list-inline">
            <li>关于我们</li>
            <li>|</li>
            <li>联系我们</li>
            <li>|</li>
            <li>网站声明</li>
        </ul>
    </div>
</footer>