<div id="footer" class="page-footer">
  <div class="container">
    <footer>
      <div class="row">
        <div class="col-md-4">
          <h5 data-toggle="collapse" data-target=".footer-latest-information">最新资讯<span class="pull-right hidden-md hidden-lg">+</span></h5>
          <div class="row">
            <div class="navbar-collapse collapse footer-latest-information">
              <div style="border: 1px solid #777; padding: 5px">
                <span class="glyphicon glyphicon-phone"></span>
                微信官方公众平台：搜索无尺或VEUTS1
              </div>
            </div>
          </div>
          <h5 data-toggle="collapse" data-target=".footer-official-website">VEUTS OFFICIAL WEBSITE<span class="pull-right hidden-md hidden-lg">+</span></h5>
          <div class="row">
            <div class="navbar-collapse collapse footer-official-website">
              <span class="glyphicon glyphicon-phone"></span>
              <a href="http://www.veuts.com/">-VEUTS-无尺官方网站（均适用于IPHONE、IPAD等移动设备）</a>
            </div>
          </div>
          <h5 data-toggle="collapse" data-target=".footer-pay-type">付款方式<span class="pull-right hidden-md hidden-lg">+</span></h5>
          <div class="row">
            <div class="navbar-collapse collapse footer-pay-type">
              <img src="/image/2c9ae287.jpg" id="icon_alipay" alt="支付宝" style="width: 50px; border-radius: 4px">
              <img src="/image/144DB94aP40-E2011.jpg" id="icon_wx_pay" alt="微信支付" style="width: 50px; border-radius: 4px">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h5 data-toggle="collapse" data-target=".footer-shejiao-information">社交资讯<span class="pull-right hidden-md hidden-lg">+</span></h5>
          <div class="row">
            <div class="navbar-collapse collapse footer-shejiao-information">
              <div style="border: 1px solid #777; padding: 5px">
                <span class="glyphicon glyphicon-phone"></span>
                微信带朋友圈版社交平台：VEUTS01
              </div>
            </div>
          </div>
          <h5 data-toggle="collapse" data-target=".footer-share-website">分享此网址<span class="pull-right hidden-md hidden-lg">+</span></h5>
          <div class="row">
            <div class="navbar-collapse collapse footer-share-website">
              <p>
                <a href="javascript:void(0)" class="web-share tengxunweibo" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><img src="/image/腾讯微博.png" alt="腾讯微博" width="24"></a>
                <a href="javascript:void(0)" class="web-share weixin" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><img src="/image/微信.png" alt="微信" width="24"></a>
                <a href="javascript:void(0)" class="web-share qqkongjian" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><img src="/image/qq空间.png" alt="QQ空间" width="24"></a>
                <a href="javascript:void(0)" class="web-share xinlangweibo" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><img src="/image/微博.png" alt="新浪微博" width="24"></a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-6">
              <h5 data-toggle="collapse" data-target=".footer-customer-service">客服中心<span class="pull-right hidden-md hidden-lg">+</span></h5>
              <div class="row">
                <div class="navbar-collapse collapse footer-customer-service">
                  <p class="small-screen-inline small-screen-padding">联系我们</p>
                  <p class="small-screen-inline small-screen-padding">投诉与建议</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h5 data-toggle="collapse" data-target=".footer-about-us">关于VEUTS<span class="pull-right hidden-md hidden-lg">+</span></h5>
              <div class="row">
                <div class="navbar-collapse collapse footer-about-us">
                  <p class="small-screen-inline small-screen-padding">公司介绍</p>
                  <p class="small-screen-inline small-screen-padding">退换货规则</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h5 data-toggle="collapse" data-target=".footer-friend-link">友情链接<span class="pull-right hidden-md hidden-lg">+</span></h5>
              <div class="row">
                <div class="navbar-collapse collapse footer-friend-link">
                  <p><a href="http://m.kuaidi100.com/" target="_blank">快递查询</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--
      <p class="pull-right"><a href="javascript:void(0)" onclick="SiteMasterUtility.back2top()">回顶部</a></p>
      <p class="pull-right">&middot;</p>
      <p class="pull-right"><a href="http://m.kuaidi100.com" target="_blank">快递查询</a></p>
      <p>&copy; 2015 实境网络 &middot;
      <a href="http://www.miibeian.gov.cn/">沪ICP备15048301号-2</a></p>
      -->
      <p></p>
      <div class="row">
        <div class="col-xs-12">
          © 2015 WWW.VEUTS.COM<p class="pull-right"><a href="http://www.miibeian.gov.cn/">沪ICP备15048301号-2</a></p>
        </div>
      </div>
    </footer>
  </div>
</div>