<!-- Bootstrap core JavaScript
        ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<!--[if (gt IE 8)|!(IE)]><!-->
<script type="text/javascript" src="/js/holder.min.js"></script>
<!--<![endif]-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script type="text/javascript" src="/js/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript" src="/js/jstween-1.2.min.js"></script>
<script src="/js/iscroll.min.js" type="text/javascript"></script>
<script src="/js/bootstro.min.js" type="text/javascript"></script>
<script src="/js/hammer.min.js" type="text/javascript"></script>
<script src="/js/jquery.hammer.js" type="text/javascript"></script>
<script type="text/javascript">
  WebRoot = '/';
  HttpDomain = 'http://www.veuts.com/';
  HttpWebRoot = 'http://www.veuts.com/';
  ReturnUrl = '%2findex.aspx';
  IsMobileBrowser = false;
  IsWeiXinBrowser = false;
</script>
<script type="text/javascript" src="/js/MyJsUtility.min.js"></script>
<script type="text/javascript" src="/js/Site.master.min.js"></script>
<div class="responsive-zero-point hidden-xs hidden-sm"></div>
<div class="responsive-zero-point hidden-xs hidden-sm"></div>

<script src="/js/swiper.min.js" type="text/javascript"></script>
<script src="/js/index.aspx.js" type="text/javascript"></script>

<script type="text/javascript">
  if (window.top == window) {
    MyJsUtility.LoadMeiQia();
  }
</script>