<div class="fakeloader"
     style="position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; z-index: 999; display: none; background-color: rgb(52, 73, 94);">
  <div class="fl spinner3" style="position: absolute; left: 691.5px; top: 357.5px;">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
</div>
<script type="text/javascript">
  $(".fakeloader").fakeLoader({
    timeToHide: 500,
    bgColor: "#34495e",
    spinner: "spinner3"
  });
</script>
<form method="post" action="/image/VEUTS.html" id="webForm">
  <div class="aspNetHidden">
    <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="">
    <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="">
    <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE"
           value="/wEPDwUJNDMyNDU0NjAzZGSRcN4H2rAyIN++bcwfuo7reR9cYcVJcnmTAzl9cX41vw==">
  </div>

  <script type="text/javascript">
    //<![CDATA[
    var theForm = document.forms['webForm'];
    if (!theForm) {
      theForm = document.webForm;
    }
    function __doPostBack(eventTarget, eventArgument) {
      if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
      }
    }
    //]]>
  </script>


  <div class="aspNetHidden">

    <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="90059987">
    <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION"
           value="/wEWBQKGl8ecDgL3srKgAgKlgtDWCALE5ML0AgKMgbrCD4u3H1cbZuqDAeCPp9HRlXW5CsPdQw2RGq3VXGR8Q1U5">
  </div>
  <nav id="navbarContainer" class="navbar navbar-cl navbar-fixed-top fullscreen-hid" style="top: -240px;">
    <div class="navbar-bootstro"
         style="width: 100%; height: 100%; position: absolute; left: 0px; top: 0px; opacity: 0.5; background-color: #000; filter:alpha(opacity=50); display: none"></div>
    <div class="container-fluid user-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <hr style="margin-top: 8px; margin-bottom: 8px">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <p><a href="http://www.veuts.com/Account/avatar.aspx">我的账户</a></p>
          </div>
          <div class="col-md-2">
            <p><a href="http://www.veuts.com/Account/myFav.aspx">我的愿望清单</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <p><a href="http://www.veuts.com/Account/fillSize.aspx">我的身材</a></p>
          </div>
          <div class="col-md-2">
            <p><a href="javascript:void(0)" class="share-website" share-code="">
              <svg style="stroke: black; stroke-width: 48; fill: transparent; width: 14px; height: 14px;vertical-align: middle;margin-top: -2px;">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#share"></use>
              </svg>
              分享领优惠</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-sm-6 col-md-12">
            <p><a href="http://www.veuts.com/Account/myOrders.aspx">我的订单</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-sm-6 col-md-12">
            <p><a href="http://www.veuts.com/Account/myCoupon.aspx">我的优惠券</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p style="margin-top: 10px"><a id="lbtLogoutPanel"
                                           href="javascript:__doPostBack('ctl00$lbtLogoutPanel','')">注销</a></p>
          </div>
          <div class="col-md-offset-2 col-md-4 user-panel-size-btn-area">
            <a href="http://www.veuts.com/Account/fillSize.aspx" class="cl-btn max-width">
              <table style="width: 100%">
                <tbody>
                <tr>
                  <td align="left">
                    　 完善我的身材资料
                  </td>
                  <td align="right">
                    &gt;　
                  </td>
                </tr>
                </tbody>
              </table>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="position: relative">
      <div class="navbar-header">
        <button id="menuToggle" type="button" class="navbar-toggle collapsed bootstro" data-bootstro-placement="bottom"
                data-bootstro-step="0" data-bootstro-title="导航" data-bootstro-content="您可以从这里到达本网站的任何地方"
                data-bootstro-width="100%" style="font-size: 9pt" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">触屏版导航</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div id="pnl_mobile_navbar_user">
          <button id="btnLoginSm" type="button" class="navbar-toggle collapsed user-mobile toggle-user bootstro"
                  data-bootstro-placement="bottom" data-bootstro-step="1" data-bootstro-title="账户"
                  data-bootstro-content="&lt;p&gt;点此登录&lt;/p&gt;&lt;p&gt;如果您还没有注册，从这里可以去注册页面&lt;/p&gt;"
                  data-bootstro-width="100%" style="font-size: 9pt">
            <span class="sr-only">触屏版用户面板</span>
            <img src="/image/anonymous.svg" id="Img2" style="height: 32px">
          </button>
        </div>
        <a class="navbar-brand" href="http://www.veuts.com/index.html"><img src="/image/veuts.png" alt="VEUTS"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav keep-center">
          <li class="dropdown">
            <a href="/" id="navHome" role="button" class="selected">首页</a>
          </li>
          <!--
          <li class="dropdown">
              <a href="page/huodong/double12.aspx" id="nav_huodong" role="button">双十二活动</a>
          </li>
          -->
          <li class="dropdown">
            <a href="/mall/classify" id="nav1" role="button">选款定制</a>
          </li>
          <li id="menu_linggan" class="dropdown">
            <!--<a href="page/discovery/list.aspx" id="nav2" role="button">新品许愿池</a>-->
            <!--<a href="page/discovery/jingqingqidai.aspx" id="nav_developing" role="button">新品许愿池</a>-->
            <a href="/discovery/list" id="nav_linggan" role="button">灵感来源</a>
          </li>
          <li class="dropdown hidden">
            <a href="javascript:void(0)" id="nav3" role="button">款式预售投票</a>
          </li>
          <!--
          <li class="dropdown sm-visible">
              <a href="Account/myFav.aspx" id="nav4" role="button">愿望清单</a>
          </li>
          -->
          <li class="dropdown sm-visible">
            <a href="http://www.veuts.com/page/mall/cart.aspx" id="nav5" role="button">购物车 <span
                                              class="badge nav-cart-badge"></span></a>
          </li>
        </ul>
        <ul id="navRight" class="nav navbar-nav navbar-right navbar-collapse hang-up">

          <li class="sm-hide">
            <a id="btnToCart" href="http://www.veuts.com/page/mall/cart.aspx" class="nav-cart"
               style="padding-top: 12px; padding-bottom: 12px">
              <div style="display: table">
                <div style="display: table-cell;vertical-align: top;">
                  <img src="/image/shopping-bag.png" alt="漂亮的购物袋" style="height: 24px">
                </div>
                <div style="display: table-cell; padding-left: 4px">
                  <div class="nav-cart-badge in-navbar"></div>
                </div>
              </div>
            </a>
          </li>

          <li class="sm-hide"><a href="http://www.veuts.com/index.aspx#Login" data-keyboard="true" data-toggle="modal"
                                 data-target="#myModal" style="display: none">登录</a>
            <a href="http://www.veuts.com/Account/Login.aspx?ReturnUrl=%2findex.aspx">登录</a>
          </li>
        </ul>
        <!--
        <button type="button" class="btn">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span class="badge ShoppingBags">0</span>
            <span class="sr-only">购物袋</span>
        </button>
        -->
      </div>
      <div id="navbar_user_panel" class="navbar-collapse collapse">
        <ul class="nav navbar-nav keep-center">
          <li class="dropdown" style="border-bottom: 1px solid #cccccc">
            <p>

            </p>
          </li>
          <li class="dropdown">
            <a role="button" href="http://www.veuts.com/Account/avatar.aspx">我的账户</a>
          </li>
          <li class="dropdown">
            <a href="http://www.veuts.com/Account/myFav.aspx">我的愿望清单</a>
          </li>
          <li class="dropdown">
            <a href="http://www.veuts.com/Account/fillSize.aspx">我的身材</a>
          </li>
          <li class="dropdown">
            <a href="http://www.veuts.com/Account/myOrders.aspx">我的订单</a>
          </li>
          <li class="dropdown">
            <a href="http://www.veuts.com/Account/myCoupon.aspx">我的优惠券</a>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="share-website" share-code="">
              <svg style="stroke: black; stroke-width: 48; fill: transparent; width: 14px; height: 14px;vertical-align: middle;margin-top: -2px;">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#share"></use>
              </svg>
              分享领优惠</a>
          </li>
          <li class="dropdown">
            <a id="lbtLogoutSm" href="javascript:__doPostBack('ctl00$lbtLogoutSm','')">注销</a>
          </li>
        </ul>
      </div>
      <div class="row nav-panel">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="input-group">
                <input name="ctl00$txtSearch" type="text" id="txtSearch" class="form-control" placeholder="你想搜索什么?">
                                    <span class="input-group-btn">
                                        <a id="lbtSearch" class="btn btn-default"
                                           href="javascript:__doPostBack('ctl00$lbtSearch','')"><span
                                                                          class="glyphicon glyphicon-search"></span></a>
                                    </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div id="main_fluid" class="container-fluid">

  </div>