<header class="navbar-fixed-top">
    <div class="bgColor headTitle paddALL">
        <a href="##">中华女子学院教务处</a>
        <a href="##" class="paddLeft hidden-xs">中华女子学院综合信息门户网</a>
			<span class="pull-right">
				<a href="##">班主任</a>
				<a href="/login" class="paddLeft">退出</a>
			</span>
    </div>

    <div class="navbar navbarM paddAll2" role="navigation">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse"
                    data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span href="##" class="navbar-brand fontSize paddRight">XXXXXX系统</span>
        </div>
        <div class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav h4">
                <li {{#eq menus_index 1}}class="active"{{/eq}}><a href="/">首页</a></li>
                <li {{#eq menus_index 2}}class="active"{{/eq}}><a href="/news">新闻</a></li>
                <li {{#eq menus_index 3}}class="active"{{/eq}}><a href="/notification">通知</a></li>
                <li {{#eq menus_index 4}}class="active"{{/eq}}><a href="/note">假条审批</a></li>
                <li {{#eq menus_index 5}}class="active"{{/eq}}><a href="/job">企业招聘</a></li>
                <li {{#eq menus_index 6}}class="active"{{/eq}}><a href="/resource">资源共享</a></li>
            </ul>
        </div>
    </div>
</header>