<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-4">
                <h4>资源列表</h4>
            </div>
            <div class="col-xs-4">
                <input class="form-control" placeholder="标题" type="text" id="title"/>
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-default" onclick="search();"><i class="fa fa-search"></i> 查询
                </button>
            </div>
            <div class="col-xs-2 pull-left">
                <a class="btn btn-default purple" href="/sys/res/add"><i class="fa fa-plus"></i> 上传</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="datatable" class="table table-bordered table-responsive "
                   style="margin-bottom: 0px !important;border-bottom: none!important">
            </table>
        </div>
    </div>
</div>

{{#extend "scripts"}}
    <script>
        $(function () {
            search();
        });

        function search() {
            var data = {
                title: $.trim($('#title').val())
            };
            new DataTable({
                id: '#datatable',
                paging: true,
                pageSize: 10,
                ajax: {
                    url: '/sys/res',
                    data: data
                },
                columns: [{
                    "data": "name",
                    "title": "资源名称"
                }, {
                    "data": "description",
                    "title": "资源描述"
                },{
                    "data": "url",
                    "title": "资源地址"
                }, {
                    "data": "userId",
                    "title": "创建用户"
                }, {
                    "data": "createdAt",
                    "title": "创建时间"
                },{
                    "data": null,
                    "title": "操作"
                }],
                columnDefs: [
                    {
                        targets: 1,
                        render: function (i, j, item) {
                            var description = item.description;
                            description = description.substr(0.,20);
                            return description;
                        }
                    }, {
                        targets: 4,
                        render: function (i, j, item) {
                            return my.toDateString(item.createdAt);
                        }
                    }, {
                        targets: 5,
                        render: function (i, j, item) {
                            var str = '<a href="/sys/res/detail/' + item._id + '">详情</a>' + '&nbsp;&nbsp;&nbsp;<a href="/sys/res/edit/' + item._id + '">编辑</a>' + '&nbsp;&nbsp;&nbsp;<a href="javascript:del(\'' + item._id + '\');">删除</a>' + '&nbsp;&nbsp;&nbsp;<a href="javascript:down(\'' + item._id + '\');">下载</a>';
                            return str;
                        }
                    }
                ]
            });
        }

        function del(id) {
            bootbox.confirm("您确定要删除吗？", function (result) {
                if (result) {
                    my.ajax({
                        url: '/sys/res/del/' + id,
                        data: {id:id},
                        success: function () {
                            $.success('操作成功', null, null, function () {
                                window.location.reload();
                            });
                        },
                        error: function () {
                            $.danger('网络异常，请联系管理员！');
                        }
                    });
                }
            });
        }

        function down(id) {
            alert('down');
        }
    </script>
{{/extend}}