<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3">
                <h4>{{#eq user_type 1}}新闻列表{{/eq}}教师列表</h4>
            </div>
            <div class="col-xs-4">
                <input class="form-control" placeholder="标题" type="text" id="title"/>
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-default" onclick="search();"><i class="fa fa-search"></i> 查询
                </button>
            </div>
            <div class="col-xs-2">
                <a class="btn btn-default purple" href="/sys/user/add_excel"><i class="fa fa-plus"></i> excel导入</a>
            </div>
            <div class="col-xs-1">
                <a class="btn btn-default purple" href="/sys/user/add"><i class="fa fa-plus"></i> 添加</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="datatable" class="table table-bordered table-responsive "
                   style="margin-bottom: 0px !important;border-bottom: none!important">
            </table>
        </div>
    </div>
</div>

{{#extend "scripts"}}
    <script>
        $(function () {
            search();
        });

        function search() {
            var data = {
                title: $.trim($('#title').val()),
                identity:{{user_type}},
            };
            new DataTable({
                id: '#datatable',
                paging: true,
                pageSize: 10,
                ajax: {
                    url: '/sys/student',
                    data: data
                },
                columns: [{
                    "data": "title",
                    "title": "名称"
                }, {
                    "data": "imgUrl",
                    "title": "图片地址"
                }, {
                    "data": "status",
                    "title": "状态"
                }, {
                    "data": "createdAt",
                    "title": "创建时间"
                }, {
                    "data": null,
                    "title": "操作"
                }],
                columnDefs: [
                    {
                        targets: 2,
                        render: function (i, j, item) {
                            var st = ['未发布','已发布','关闭'];
                            return st[item.status]
                        }
                    },{
                        targets:3,
                        render: function (i, j, item) {
                            return my.toDateString(item.createdAt);
                        }
                    }, {
                        targets: 4,
                        render: function (i, j, item) {
                            var str = '<a href="/sys/news/detail/' + item._id + '">详情</a>' + '&nbsp;&nbsp;&nbsp;<a href="/sys/news/edit/' + item._id + '">编辑</a>' + '&nbsp;&nbsp;&nbsp;<a href="javascript:del(\'' + item._id + '\');">删除</a>'
                            if(item.status == 0){
                                str = str + '&nbsp;&nbsp;&nbsp;<a href="javascript:changeStatus(\'' + item._id + '\',1);">发布</a>';
                            }else if(item.status == 1){
                                str = str + '&nbsp;&nbsp;&nbsp;<a href="javascript:changeStatus(\'' + item._id + '\',2);">关闭</a>';
                            }
                            return str;
                        }
                    }
                ]
            });
        }

        function changeStatus(id,type){
            my.ajax({
                url: '/sys/news/changeStatus/' + id,
                data: {id:id,status:type},
                success: function () {
                    $.success('操作成功', null, null, function () {
                        window.location.reload();
                    });
                },
                error: function () {
                    $.danger('网络异常，请联系管理员！');
                }
            });
        }

        function del(id) {
            bootbox.confirm("您确定要删除吗？", function (result) {
                if (result) {
                    my.ajax({
                        url: '/sys/news/del/' + id,
                        data: {id:id},
                        success: function () {
                            $.success('操作成功', null, null, function () {
                                window.location.reload();
                            });
                        },
                        error: function () {
                            $.danger('网络异常，请联系管理员！');
                        }
                    });
                }
            });
        }
    </script>
{{/extend}}