<div class="marginLR marginBottom">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="bgColor textColor2 marginTop fontSize2 paddAll1">假条审批</div>
                <div class="textColor borderStyle1">
                    <ul class="nav nav-stacked">
                        <li class="wait"><a href="javascript:search(1,0);">待审批</a></li>
                        <li class="already"><a href="javascript:search(1,1);">已审批</a></li>
                    </ul>
                </div>
            </div>
            <div class="textColor paddTop col-md-9">
                <div class="borderStyle row">
                    <div class="col-sm-2 paddTop2 paddBottom2">
                        <span class="h4 textColor">所有假条</span>
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="form-group col-xs-10 col-sm-6">
                                <input type="text" id="title" class="form-control " placeholder="请输入学生姓名" />
                            </div>
                            <button type="submit col-xs-2 col-sm-2" onclick="search(1,0)" class="btn  btn-default col-xs-2">搜索</button>
                        </div>
                    </div>
                </div>
                <ul class="fontSize1 list" id="data-container">
                </ul>
                <!-- 分页 -->
                <div class="text-center" id="page-container">
                </div>
                <!-- \.分页 -->
            </div>
        </div>
    </div>
</div>
{{#extend "scripts"}}
    <script>
        $(function () {
            search(1,0)
        });

        var $pageContainer = $('#page-container');
        var $dataContainer = $('#data-container');

        function search(pageNo,type) {
            var type = type;
            if(type ==0){
                $('.wait').addClass('active');
                $('.already').removeClass('active');
                var data = {
                    title : $.trim($('#title').val()),
                    status : 2,
                    pageNo: pageNo
                }
            }else{
                $('.already').addClass('active');
                $('.wait').removeClass('active');
                var data = {
                    title : $.trim($('#title').val()),
                    pageNo: pageNo
                }
            }
            $.ajax({
                url: '/allNote',
                type: 'post',
                dataType: 'json',
                data: data,
                success: function (ret) {
                    if (ret.status == 0) {
                        var html = '';
                        if(ret.data.list.length == 0){
                            html += '<li class="paddTop"><span>暂无数据</span></li>';
                            $pageContainer.addClass('hidden');
                        } else {
                            $.each(ret.data.list, function (idx, item) {
                                html += '<li class="paddTop">' +
                                        '<a href="/note/appreval/' + item._id + '"><span>'+item.userName+'</span> 的请假单</a>'+
                                        '<span class="textColor1 pull-right paddLeft">' + my.toDateStr(item.createdAt) + '</span>' +
                                        '<span class="pull-right">'+noteStatus[item.status]+'</span>'+
                                        '</li>';
                            });
                        }
                        $dataContainer.html(html);
                        pagination($pageContainer, ret.data.pageNo, ret.data.total, function (pageNo) {
                            search(pageNo,type);
                        });
                    }
                }
            });
        }
    </script>
{{/extend}}
