<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <!--头部静态文件-->
  {{> head_static}}
</head>
<body id="body" style="margin-top: 60px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
<!--头部-->
{{> header}}

  <div id="main">

    <div class="swiper-container swiper-container-horizontal swiper-container-fade">
      <div class="swiper-wrapper" style="text-align: center">
        <div class="swiper-slide swiper-slide-active" style="width: 1423px; opacity: 1; transform: translate3d(0px, 0px, 0px); background-image: url(http://www.veuts.com/images/home-pic.png); background-position: 50% 50%;">
          <div class="middle-description">
            <div class="middle-title">
              <p>&nbsp;</p>
              <p>
                “购物纠结选尺码，太浪费时间了！”</p>
              <h1>
                <span class=" hidden-xs">VEUTS</span>帮你实现一键购物</h1>
              <p>
                We Only Need More Clothes To Choose, Not The Size</p>
              <p>&nbsp;
              </p>
              <div class="background">
              </div>
            </div>
            <p>
              &nbsp;</p>
            <p>
              &nbsp;</p>
            <p>
              &nbsp;</p>
            <p>
              节省时间去选择更多喜爱的款式</p>
            <div class="row">
              <div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4 col-lg-offset-5 col-lg-2">
                <a href="http://www.veuts.com/Account/fillSize.aspx">
                  <div style="width: 100%; border: 1px solid black">
                    <table>
                      <tbody><tr>
                        <td width="80%" style=" padding: 5px; color: #f12685; font-size: 0.9em; font-weight: bold">立即去填写身材！</td>
                        <td width="150" style="border-left: 1px; border-left-style: dashed">GO</td>
                      </tr>
                      </tbody></table>
                  </div></a>
              </div>
            </div>
            <p></p>
            <p style="font-size: 0.9em">
              从此购物就是如此高枕无忧</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row coupon-poster">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4" style="text-align: center">
              <p style="font-size: 1.6em; color: red; margin-top: 25%">最好的礼物</p>
              <div class="row" style="margin-top: -10px">
                <div class="col-xs-6" style="text-align: right">
                  <p style="font-size: 3em; margin-bottom: 0px; font-family: &#39;Goudy Old Style&#39;"><i>70%</i></p>
                  <p style="font-size: 2em; margin-bottom: 0px; margin-top: -20px; font-family: &#39;Goudy Old Style&#39;">OFF</p>
                  <div class="split-line"></div>
                </div>
                <div class="col-xs-6" style="text-align: left">
                  <p style="font-size: 3em; margin-bottom: 0px; font-family: &#39;Goudy Old Style&#39;"><i>2016</i></p>
                  <p style="font-size: 2em; margin-bottom: 0px; margin-top: -20px; font-family: &#39;Goudy Old Style&#39;">NOW</p>
                </div>
              </div>
              <p style="font-size: 1.4em">限量活动价上新</p>
              <p style="font-size: 1.2em"><a href="http://www.veuts.com/page/mall/promotion.aspx"><span style="border: 1px solid black; padding: 8px">领取活动优惠券</span></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="text-align: center">
      <div class="row">
        <div class="col-xs-12">
          <br>
          <h2>
            从此让购买一件衣服</h2>
          <h3>
            10分钟变10秒钟</h3>
          <br>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div>
                    <span style="color: white; background-color: #C9BC9C; border-radius: 50%; height: 32px;
                        width: 32px; display: inline-block; vertical-align: middle; line-height: 32px;">
                        1</span></div>
          <p>
            &nbsp;</p>
          <a href="http://www.veuts.com/Account/Login.aspx">
            <img src="/image/home-icon-2.png" style="width: 50%"></a>
          <p>
            &nbsp;</p>
          <h4>                    <a href="http://www.veuts.com/Account/Login.aspx">

            SIGN UP</a></h4>
          <h3>                    <a href="http://www.veuts.com/Account/Login.aspx">

            登录 veuts.com</a></h3>
          <div style="border: 1px solid #B0ADAE; padding: 35px 20px 35px 20px; margin-top: 48px">
            <span>登陆veuts的开始，就是为自己多出了更多选款轻松购物时间。</span>
          </div>
          <p>
            &nbsp;</p>
        </div>
        <div class="col-sm-4">
          <div>
                    <span style="color: white; background-color: #C9BC9C; border-radius: 50%; height: 32px;
                        width: 32px; display: inline-block; vertical-align: middle; line-height: 32px;">
                        2</span></div>
          <p>
            &nbsp;</p><a href="http://www.veuts.com/solution.aspx">
          <img src="/image/home-icon-1.png" style="width: 50%"></a>
          <p>
            &nbsp;</p>
          <h4><a href="http://www.veuts.com/solution.aspx">
            MEASUREMENTS</a></h4>
          <h3><a href="http://www.veuts.com/solution.aspx">
            轻松4步填写尺寸</a></h3>
          <div style="border: 1px solid #B0ADAE; padding: 35px 20px 35px 20px; margin-top: 48px">
            <span>仅一次身材数据填写，即可为心爱的衣服烙上专属的名字！ 　</span>
          </div>
          <p>
            &nbsp;</p>
        </div>
        <div class="col-sm-4">
          <div>
                    <span style="color: white; background-color: #C9BC9C; border-radius: 50%; height: 32px;
                        width: 32px; display: inline-block; vertical-align: middle; line-height: 32px;">
                        3</span></div>
          <p>
            &nbsp;</p><a href="http://www.veuts.com/page/mall/classify.aspx">
          <img src="/image/yijiangouwudai-.png" style="width: 50%"></a>
          <p>
            &nbsp;</p>
          <h4><a href="http://www.veuts.com/page/mall/classify.aspx">
            SHOPPING</a></h4>
          <h3><a href="http://www.veuts.com/page/mall/classify.aspx">
            永远一键购物</a></h3>
          <div style="border: 1px solid #B0ADAE; padding: 35px 20px 35px 20px; margin-top: 48px">
            <span>更不会因为不合适造成的退换货流程而感觉烦恼 <span style="color: transparent">☆☆☆☆☆☆</span></span>
          </div>
          <p>
            &nbsp;</p>
        </div>
      </div>
    </div>

  </div>
  <!-- Modal -->
  <div class="container compress">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              ×</button>
            <h4 class="modal-title" id="myModalLabel">
              Modal title</h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-ok" onclick="/*$(&#39;#myModal&#39;).modal(&#39;hide&#39;)*/">
              确定</button>
            <button type="button" class="btn btn-default btn-close" data-dismiss="modal">
              关闭</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
  <!-- /.modal -->
  <div class="modal-fullscreen" style="display: none">
    <button type="button" class="close">
      ×</button>
    <div class="modal-fullscreen-content">
      <div class="modal-fullscreen-header"></div>
      <div class="modal-fullscreen-body"></div>
      <div class="modal-fullscreen-footer"></div>
    </div>
  </div>
  <!-- Alert Modal -->
  <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×</button>
          <h4 class="modal-title" id="H1">
            提示</h4>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="$(&#39;#alertModal&#39;).modal(&#39;hide&#39;)">
            确定</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.Alert Modal -->
</form>

<div class="site-tips-container fullscreen-fix"></div>
<div class="container">
  <div class="row hidden-md hidden-lg">
    <div class="col-xs-12">
      <div class="panel" style="margin-bottom: 8px">
        <div class="panel-body">
          <p><span class="glyphicon glyphicon-earphone"></span>
            联系电话</p>
          <p>服务时间：</p>
          <p>周一至周日，早上9点至晚上9点</p>
          <p>021-61911383</p>
        </div>
      </div>
      <div class="panel hidden" style="margin-bottom: 8px">
        <div class="panel-body">
          <p><span class="glyphicon glyphicon-comment"></span>
            在线客服</p>
          <p>点击<a href="http://www.veuts.com/index.aspx###"><u>此处</u></a>，联系在线客服</p>
        </div>
      </div>
      <div class="panel hidden">
        <div class="panel-body">
          <p><span class="glyphicon glyphicon-envelope"></span>
            投诉与建议</p>
          <p>您对我们的服务不满意？您想对我们的网站建设提出意见？点击<a href="http://www.veuts.com/index.aspx###"><u>此处</u></a>，将您的投诉与建议反馈给我们</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--尾部-->
{{> footer}}

<!--尾部静态文件-->
{{> foot_static}}

</body>
</html>