<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XX系统--企业招聘</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">
</head>
<body>
{{>header}}
<div class="marginLR marginBottom">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="bgColor textColor2 marginTop fontSize2 paddAll1">企业招聘</div>
                <div class="textColor borderStyle1">
                    <ul class="nav nav-stacked">
                        <li {{#eq job_type 0}}class="active"{{/eq}}><a href="/myjob">我的职位</a></li>
                        <li><a href="/jobAdd">职位发布</a></li>
                        <li {{#eq job_type 1}}class="active"{{/eq}}><a href="/job">企业招聘</a></li>
                    </ul>
                </div>
            </div>

            <div class="textColor paddTop col-md-9">
                <div class="borderStyle row">
                    <div class="col-sm-2 paddTop2 paddBottom2">
                        <span class="h4 textColor">{{#eq job_type 0}}我的职位{{else}}企业招聘{{/eq}}</span>
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="form-group col-xs-10 col-sm-6">
                                <input type="text" class="form-control " placeholder="请输入关键字" />
                            </div>
                            <button type="submit  col-xs-2 col-sm-2" class="btn  btn-default col-xs-2">搜索</button>
                        </div>
                    </div>
                </div>
                <ul class="fontSize1 list">
                    <li class="paddTop">
                        <span>[职位]</span>
                        <a {{#eq job_type 0}}href="/myjobDetail"{{else}}href="/jobDetail"{{/eq}}>公司名称</a>
                        <span class="textColor1 pull-right paddLeft">2016-03-21</span>
                    </li>
                    <li class="paddTop">
                        <span>[职位]</span>
                        <a href="">公司名称</a>
                        <span class="textColor1 pull-right paddLeft">2016-03-21</span>
                    </li>
                    <li class="paddTop">
                        <span>[职位]</span>
                        <a href="">公司名称</a>
                        <span class="textColor1 pull-right paddLeft">2016-03-21</span>
                    </li>
                    <li class="paddTop">
                        <span>[职位]</span>
                        <a href="">公司名称</a>
                        <span class="textColor1 pull-right paddLeft">2016-03-21</span>
                    </li>
                    <li class="paddTop">
                        <span>[职位]</span>
                        <a href="">公司名称</a>
                        <span class="textColor1 pull-right paddLeft">2016-03-21</span>
                    </li>
                </ul>
                <div class="text-center">
                    <div class="hidden-xs">
                        <ul class="paginationM">
                            <li><a href="#">&laquo;第一页</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li class="disabled"><a href="#">最后一页&raquo;</a></li>
                        </ul>
                    </div>

                    <div class="visible-xs">
                        <ul class="pagerM">
                            <li class="previous"><a href="#">&laquo;上一页</a></li>
                            <li class="next"><a href="#">下一页&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>footer}}
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>