<div class="marginLR marginBottom">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="bgColor textColor2 marginTop fontSize2 paddAll1">假条审批</div>
                <div class="textColor borderStyle1">
                    <ul class="nav nav-stacked">
                        <li class="active"><a href="/note">我的假条</a></li>
                        <li><a href="/note/add">请假申请</a></li>
                    </ul>
                </div>
            </div>
            <div class="textColor paddTop col-md-9">
                <div class="borderStyle row">
                    <div class="col-sm-2 paddTop2 paddBottom2">
                        <span class="h4 textColor">我的假条</span>
                    </div>
                </div>
                <ul class="fontSize1 list" id="data-container">
                </ul>
                <!-- 分页 -->
                <div class="text-center" id="page-container">
                </div>
                <!-- \.分页 -->
            </div>
        </div>
    </div>
</div>
{{#extend "scripts"}}
    <script>
        $(function () {
            search(1)
        });
        var $pageContainer = $('#page-container');
        var $dataContainer = $('#data-container');

        function search(pageNo) {
            $.ajax({
                url: '/note',
                type: 'post',
                dataType: 'json',
                data: {pageNo: pageNo},
                success: function (ret) {
                    if (ret.status == 0) {
                        var html = '';
                        if(ret.data.list.length == 0){
                            html += '<li class="paddTop"><span>暂无数据</span></li>';
                            $pageContainer.addClass('hidden');
                        } else {
                            $.each(ret.data.list, function (idx, item) {
                                html += '<li class="paddTop">' +
                                        '<a href="/note/detail/' + item._id + '"><span>{{normal_user.name}}</span> 的请假单</a>'+
                                        '<span class="textColor1 pull-right paddLeft">' + my.toDateStr(item.createdAt) + '</span>' +
                                        '<span class="pull-right">'+noteStatus[item.status]+'</span>'

                                if(item.status == 0 || item.status == 2){
                                    html = html + '<span class="pull-right"><a href="javascript:del(\'' + item._id + '\');">删除&nbsp;</a></span>'
                                }
                                html += '</li>';
                            });
                        }
                        $dataContainer.html(html);
                        pagination($pageContainer, ret.data.pageNo, ret.data.total, function (pageNo) {
                            search(pageNo);
                        });
                    }
                }
            });
        }

        function del(id) {
            bootbox.confirm("您确定要删除吗？", function (result) {
                if (result) {
                    my.ajax({
                        url: '/note/del/' + id,
                        data: {id:id},
                        success: function () {
                            $.success('操作成功', null, null, function () {
                                window.location.reload();
                            });
                        },
                        error: function () {
                            $.danger('网络异常，请联系管理员！');
                        }
                    });
                }
            });
        }
    </script>
{{/extend}}
