<div class="marginLR marginBottom">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="bgColor textColor2 marginTop fontSize2 paddAll1">个人中心</div>
                <div class="textColor borderStyle1">
                    <ul class="nav nav-stacked">
                        <li class="active"><a href="/personCenter">基本信息</a></li>
                        <li><a href="/changePwd">修改密码</a></li>
                    </ul>
                </div>
            </div>
            <div class="textColor paddTop col-md-9">
                <div class="paddBottom">
                    <span class="h4 textColor">基本信息</span>
                </div>
                <div class="paddAll4 borderStyle1 bgColor2">
                    <form role="form form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-2 control-label">用户名</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="" placeholder="" disabled value="120401028">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label">姓名</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="" placeholder="" disabled value="班主任">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label">班级</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="" placeholder="" disabled value="12级计算机二班">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label">性别</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="" placeholder="" disabled value="女">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label">入学时间</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="" placeholder="" disabled value="2012-09-01">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{#extend "scripts"}}
    <script>
        $(function () {
        });
    </script>
{{/extend}}
