<div class="marginLR marginBottom">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="bgColor textColor2 marginTop fontSize2 paddAll1">资源共享</div>
        <div class="textColor borderStyle1">
            <ul class="nav nav-stacked">
                <li><a href="/resource">所有资源</a></li>
                <li class="teaRes"><a href="/myresource">我的资源</a></li>
                <li class="teaRes active"><a href="/resourceAdd">资源上传</a></li>
            </ul>
        </div>
      </div>

      <div class="paddTop col-md-9">
        <div class="borderStyle paddBottom">
          <span class="h4 textColor">资源上传</span>
        </div>
        <div class="paddAll4 borderStyle1 bgColor2">
          <form role="form form-horizontal" action="/resourceAdd" method="post" enctype="multipart/form-data">
            <div class="form-group row">
              <label class="col-md-2 control-label">资源名称</label>

              <div class="col-md-7">
                <input type="text" class="form-control" name="name" placeholder="资源名称">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 control-label">资源描述</label>

              <div class="col-md-7">
                <input type="text" class="form-control" name="description" placeholder="资源描述">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 control-label">资源上传</label>
              <div class="col-md-7">
                <input type="file" class="form-control" name="file" placeholder="资源文件">
              </div>
            </div>
          </form>
          <button class="btn btn-default col-sm-2 col-sm-offset-5 col-xs-12" id="submit" type="button">提交</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{#extend "scripts"}}
  <script>
    $('#submit').click(function () {
      $("form").ajaxSubmit({
        dataType: 'json',
        success: function (data) {
          window.location = '/myresource';
        },
        error: function (err) {
        },
        complete: function () {
        }
      });
    });
  </script>
{{/extend}}